<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header class="navbar">

    <div class="logo-section">
        <h2>Mini WhatsApp</h2>
    </div>

    <nav>

        <a href="/chats">All Chats</a>

        <a href="/chats/new">New Chat</a>

    </nav>

</header>

<div class="container">